body{
    background:#eee8aa60;
    font-family: 'Lato', sans-serif;
}

div.content{
    font-size:20px;
}
div.content div.head-pic img{
    width: 100%;
}
div.content div.page-head{
    margin:80px 0;
    text-align:right;
    border-right: 5px solid #393939;
    padding: 20px 20px 0px 0px;
    font-weight:700;
    text-transform:uppercase;
}
div.content div.page-head .head-title{
    font-size:100px;
    line-height:100px;
    color:#9a6421;
}
div.content div.page-head .head-subtitle{
    font-size:50px;
    line-height:50px;
    color:#000;
}
div.content div.page-content{
    margin:100px 0px;
    text-align:left;
}
div.content div.page-content p,
div.content div.page-content li{
    margin:15px 0;
    line-height:160%;
}
div.content div.page-content a{
    text-decoration: underline;
    font-style: italic;
    color: #005;
}
div.content div.page-content a:hover{
    color: #00c;
    font-size: 101%;
}
div.content div.page-content div.img{
    width: 80%;
    margin: 30px auto;
}
div.content div.page-content div.img div.imgcard{
    margin: 20px auto;
    width: 100%;
    background: #fff;
    overflow: hidden;
    box-shadow:
        0 4px 5px 0px rgba(0, 0, 0, 0.20),
        0 1px 10px 0px rgba(0, 0, 0, 0.10),
        0 2px 4px -1px rgba(0, 0, 0, 0.40);
}
div.content div.page-content div.img .left-col,
div.content div.page-content div.img .right-col{
    width: 46%;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.content div.page-content div.img .right-col{
    margin-left: 2%;
    margin-right: 2%;
    float: right;
}
div.content div.page-content div.img .left-col{
    margin-right: 2%;
    margin-left: 2%;
    float: left;
}
div.content div.page-content div.img div.imgcard p,
div.content div.page-content div.img div.imgcard h2,
div.content div.page-content div.img div.imgcard h3,
div.content div.page-content div.img div.imgcard h4{
    margin: 2%;
}
div.content div.page-content div.img div.imgcard p.comments{
    color: #999;
}
div.content div.page-content div.img img{
    width: 100%;
}

div.content div.page-content h1, 
div.content div.page-content h2,
div.content div.page-content h3,
div.content div.page-content h4,
div.content div.page-content h5{
    font-family: 'Monda', sans-serif;
}
div.content div.page-content h2{
    font-size: 40px;
    margin: 60px 0 30px;
}
div.content div.page-content h3{
    font-size: 30px;
    margin: 40px 0 20px;
}
div.content div.page-content h4{
    font-size: 25px;
    margin: 30px 0 15px;
}

div.pagefooter{
    text-align:left;
    background:#555;
    margin-bottom: -20px;
}
div.pagefooter div.footer-left-col,
div.pagefooter div.footer-right-col{
    width:50%;
    float:left;
}
div.pagefooter div.footer-left-col{
}
div.pagefooter div.footer-left-col img{
    margin-left:15%;
}
div.pagefooter div.footer-right-col{
    text-align:center;
}
div.pagefooter div.footer-right-col p{
    font-size:40px;
    color:#fff;
}
div.pagefooter div.footer-right-col ul.contact-info{
    margin:20px;
}
div.pagefooter div.footer-right-col li{
    color:#fff;
}
div.pagefooter div.footer-right-col li a#mailto{
    color: #74bcf3;
    padding-right: 0;
}
div.pagefooter div.footer-right-col li a#mailto:hover{
    color: #555;
    background-color: #74bcf3;
}

div.attributionItem{
    font-size: 20px;
    margin: 20px 0;
}
div.attributionItem div span.name{
    font-style: italic;
    font-weight: 700;
}
div.attributionItem span.org{
    font-weight: 700;
}
div.attributionItem div span.name + span.org{
    margin-left: 20px;
    font-size: 17px;
}
div#QA{
    margin: 100px 0;
    font-size: 24px;
}
div#QA > div.dialog{
    margin: 20px 0;
}
div#QA > div.dialog > div.question{
    margin: 5px 0;
    font-style: italic;
    color: #700;
}
div#QA > div.dialog > div.answer{
    margin: 5px 0;
}
